@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row-sb{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/********************* FONTS ********************/

a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: rgb(64, 64, 252);
}

.landing-nav > h3{
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.inline-para{
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}

.landing-nav a{
    margin: 0px 15px;
}

.grey-text{
    font-family: "Poppins", sans-serif;
    color: grey;
    font-size: 1rem;
    margin-right: 50px;
}

.landing-tagline-container > h1{
    font-family: "Inter", sans-serif;
    font-size: 5.5rem;
    font-weight: 300;
}

.landing-tagline-container > p{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    margin-top: 30px;
}

.italic{
    font-size: 5.5rem;
    font-weight: 800;
    font-style: italic;
    color: rgb(47, 0, 255);
}

.para-bold{
    font-weight: bold;
}

.bold{
    font-size: 5.5rem;
    font-weight: 800;
}

/********************* MAIN ********************/

.div{
    width: 100%;
    height: auto;
}

.landing-main-container{
    height: 100vh;
    position: absolute;
}

.sub-landing-container{
    width: 90%;
    height: auto;
}

.landing-tagline-container{
    height: 90vh;
    text-align: center;
}

.landing-footer-container{
    height: auto;
}

.landing-footer-container > a{
    margin: 0px 15px;
}