.about-div-space{
    width: 100%;
    height: 100px;
}
.about-main-container{
    width: 100%;
    height: auto;
}

.about-section-one{
    width: 90%;
    height: auto
}

.about-one-image-container{
    width: 100%;
    height: auto;
}

.about-one-image{
    width: 100%;
    height: calc(35vh + 25vw);
    object-fit: cover;
}

.about-name-heading{
    width: 90%;
    height: auto;
    position: absolute;
    top: calc(18vh + 15vw)
}

h1{
  font-family: "BeautiqueDisplay";
  letter-spacing: 5px;
}


.about-name-heading > h1{
    font-size: clamp(4rem, 8vw, 10rem);
    color: rgba(243, 238, 225, 0.822);
    font-weight: 500;
}

/**/

.about-section-two{
    width: 90%;
    height: auto;
    padding: calc(5vw + 2vw) 0px 0px 0px;
}

.about-name-container > h3{
    font-family: "BeautiqueDisplay";
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 300;
    margin-top: calc(0.5vh + 0.5vw);
}

.about-section-two > p{
    font-size: clamp(0.6rem, 2vw, 0.8rem);
}

.about-para-three span{
    font-family: "BeautiqueDisplay";
    color: rgb(189, 146, 98);
}

.about-two-image-container{
    width: 100%;
    height: inherit
}

.about-container-image-two{
    width: calc(40vh + 15vw);
    height: calc(50vh + 10vw);
}

.about-two-image{
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.about-para-container-one{
    width: 100%;
    height: auto;
    padding: calc(5vh + 2vw) 0px;
}

.about-para-one{
    width: calc(40vh + 15vw);
    height: auto;
    text-align: justify;
    line-height: 35px;
    font-size: clamp(1.3rem, 2vw, 1.3rem)
}


.about-section-four{
    width: 90%;
    height: auto;
    padding: calc(4vh + 1vw) 0px;
}

.section-four-container{
    width: 100%;
    height: auto;
}

.section-four-sub-one{
    width: 50%;
    height: calc(40vh + 20vw);
    overflow: hidden;
}

.section-four-sub-two{
    width: 50%;
    height: auto
}

.about-three-image{
    width: 100%;
    height: calc(40vh + 20vw);
    object-fit: cover;
}

.about-para-two{
    width: 90%;
    height: auto;
    text-align: justify;
    line-height: 35px;
    font-size: clamp(1.3rem, 2vw, 1.3rem)
}

.book-class-btn-container{
    width: 90%;
    height: auto;
}

.about-para-three{
    width: 90%;
    height: auto;
    text-align: justify;
    line-height: 35px;
    font-size: clamp(1.3rem, 2vw, 1.3rem)
}

.book-class-btn{
    width: calc(10vh + 5vw);
    height: calc(3vh + 2vw);
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}

.book-btn > h5{
    color: rgba(247, 240, 227, 0.822);
    font-size: clamp(0.5rem, 3vw, 1rem);
}

.about-para-three > h3 {
    font-family: BeautiqueDisplay;
    font-size: clamp(1rem, 10vw, 2.5rem);
    font-weight: 200;
    line-height: 55px;
    text-align: start;
  }

  .text-italic {
    font-family: "BeautiqueDisplay-Italic";
  }

.about-footer-container{
    width: 100%;
    height: auto;
    padding: 50px 0px 10px 0px;
}

/*----------------------------------------------------------*/

@media screen and (max-width: 1150px) {
    .section-four-sub-one{
        width: 100%;
    }
    .section-four-sub-two{
        width: 100%;
    }
    .about-para-two{
        width: 100%;
        margin-top: 25px;
    }
}


@media screen and (max-width: 770px) {
    .section-four-sub-container{
        width: 100%;
    }
    .about-para-one{
        width: 100%;
        text-align:start
    }
    .about-para-two{
        width: 100%;
        text-align: start;
    }
    .book-class-btn-container{
        width: 100%;
    }
    .book-class-btn{
        width: calc(10vh + 10vw);
        height: calc(5vh + 3vw);
        margin: 50px 0px;
    }
}

