@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  user-select: none;
  background: none;
  border: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/**/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row-se {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.row-fe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.row-bottom-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.row-bottom-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.row-sb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column-sb{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}

.column-se {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.column-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*--------------------------------------------------------- PROPERTIES*/

.background {
  width: 100%;
  height: 100vh;
  background-color: rgba(247, 240, 227, 0.822);
  position: fixed;
  z-index: -10;
}

.background-container {
  width: 40%;
  height: 80vh;
}

.moon {
  width: 30%;
  height: 30%;
  background-color: rgb(133, 122, 122);
  border-radius: 71% 29% 70% 30% / 64% 57% 43% 36%;
}

.earth {
  width: 50%;
  height: 50vh;
  background-color: rgba(218, 187, 139, 0.795);
  border-radius: 21% 79% 47% 53% / 70% 28% 72% 30%;
}

.moon-one {
  animation: rotate 50s linear forwards infinite;
}
.moon-two {
  animation: rotate 35s linear backwards infinite;
}
.earth-one {
  animation: rotate 25s linear backwards infinite;
}
.earth-two {
  animation: rotate 45s linear forwards infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(0%) translateY(0%);
  }
  25% {
    transform: rotate(90deg) translateX(25%) translateY(85%);
  }
  50% {
    transform: rotate(180deg) translateX(70%) translateY(150%);
  }
  75% {
    transform: rotate(270deg) translateX(15%) translateY(250%);
  }
  100% {
    transform: rotate(360deg) translateX(0%) translateY(0%);
  }
}

/**/

.blur-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(155px);
  z-index: 1;
}

/**/

.navdrop {
  width: 100%;
  height: 100vh;
  background-color:rgb(247, 243, 232);
  position: fixed;
  z-index: 110;
  transform: translateY(-100vh);
  transition: transform 0.9s cubic-bezier(0.7, 0.1, 0.25, 1);
}


.navmain-container {
  width: 100%;
  height: auto;
  padding: 5vh 0px;
}

.navlinks-main-container {
  width: 800px;
  height: auto;
}

.navcredits {
  width: 80%;
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.822);
  position: absolute;
  bottom: 0px;
}

.navimplinks{
  width: calc(20vw + 20vh);
  height: auto;
  opacity: 0;
}

.navcredits p {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.822);
}

.navlinks-container {
  width: auto;
  height: auto;
}

.navlinks {
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 10px 0px;
  transition: transform 0.5s ease-in-out;
}

.navlinks a {
  font-family: "BeautiqueDisplay";
  font-size: clamp(1rem, 5vw, 6rem);
  color: black
}

.link-transition {
  width: 100%;
  height: inherit;
  transform: translateY(100px);
  transition: transform 0.4s cubic-bezier(0.5, 0.5, 0.5, 1);
}
.navlinks:hover {
  transform: translateX(25px);
  transition: transform 0.5s ease-in-out;
}

.nav-social-container {
  width: auto;
  height: calc(10vh + 10vw);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.nav-social-container {
  transition: opacity 0.7s ease-in-out;
}

.nav-email-container {
  width: 100%;
  height: auto;
}

.navimplinks a{
  color: black;
}

.nav-email-container > a {
  font-family: "Inter", sans-serif;
  font-size: clamp(1.2rem, 2vw, 2rem);
  color: rgb(68, 68, 68);
  transition: color 0.3s ease-in-out;
}

.navdrop-info{
  width: calc(30vh + 20vw);
  height: auto;
}

.nav-email-container > a:hover {
  color: rgba(238, 230, 211, 0.822);
}

.socials-container {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.socials-container > a {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 500;
  color: rgb(68, 68, 68);
  transition: color 0.3s ease-in-out;
}

.socials-container > a:hover {
  color: rgba(238, 230, 211, 0.822);
}

@media screen and (max-width: 1200px) {
  .navlinks-main-container {
    width: 60%;
  }
  .nav-social-container {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .navlinks-main-container {
    width: 90%;
  }
  .nav-social-container {
    width: 90%;
  }
  .navlinks a {
    font-size: 3.2rem;
    text-align: center;
  }
  .nav-email {
    font-size: 1.8rem;
  }
  .navcredits {
    display: flex;
  }
  .nav-email-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .socials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (max-height: 600px) {
  .navcredits {
    position: relative;
    bottom: 0px;
  }
  .nav-social-container {
    margin-top: 20px;
  }
}

/**/

.blackscreen{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 100;
}

.navbar {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 120;
  padding: 10px 0px;
  cursor: pointer;
  user-select: none; 
  -webkit-tap-highlight-color: transparent;
  outline: none; 
}

.navbar-container {
  width: 90%;
  height: 80px;
}

.navspace {
  width: 100%;
  height: 100px;
}

.navbar-logo-container {
  width: 80px;
  height: inherit;
}

.navbar-logo {
  width: 100%;
  height: inherit;
  transition: opacity 0.4s ease-in-out;
}

.hamburger-menu-container {
  width: 40px;
  height: 30px;
  user-select: none;       
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.ham {
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 8px 0px;
  border-radius: 10px;
}

.ham {
  transition: transform 0.5s ease, background-color 0.3s ease, top 0.3s ease,
    bottom 0.3s ease;
}

.main-section-container {
  position: relative;
  z-index: 90;
}

.about-footer-container{
    width: 100%;
    height: auto;
    padding: 50px 0px 10px 0px;
    position: absolute;
    bottom: 0px;
}

.section-two-desc-one span{
    font-family: "BeautiqueDisplay";
    color: rgb(189, 146, 98);
    font-size: clamp(2rem, 5vw, 2.5rem);
}

.underline-effect-container{
    width: auto;
    height: auto;
    overflow: hidden;
}

.underline-effect{
    width: 100%;
    height: 3px;
    background-color: black;
    transform: translateX(-95%);
    transition: transform 0.3s ease-in-out;
}

.underline-effect-container:hover .underline-effect{
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 700px) {
  .navbar-logo {
    width: 60px;
    height: 60px;
  }
  .ham {
    width: 80%;
    height: 2px;
  }
}

@font-face {
  font-family: "BeautiqueDisplay-Italic";
  src: url(/assets/font/BeautiqueDisplay-Italic.otf);
}

@font-face {
  font-family: "BeautiqueDisplay";
  src: url(/assets/fonts/BeautiqueDisplay-Medium.otf);
}
