.training-course-space{
    width: 100%;
    height: 100px;
}

.training-course-main-container{
    width: 100%;
    height: auto;
}

.training-course-section-one{
    width: 80%;
    height: auto
}

.section-one-sub-one{
    width: 50%;
    height: auto;
}

.section-one-sub-two{
    width: 50%;
    height: auto;
}

.training-image-one{
    width: 100%;
    height: calc(40vh + 20vw);
    object-fit: cover;
}


h1{
    font-family: BeautiqueDisplay;
    font-size: clamp(3rem, 5vw, 4rem);
}

h3{
    font-family: BeautiqueDisplay;
}

h2{
    font-family: BeautiqueDisplay;
    font-size: clamp(1.6rem, 2vw, 3rem);
    font-weight: 400;
    line-height: 35px;
}

h4{
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    font-weight: 400;
}

.section-one-sub-one > h1{
    font-size: clamp(2rem, 3vw, 7rem);
    font-weight: 300;
    padding: calc(5vh + 1vw) 0px;
}


.training-course-section-two{
    width: 80%;
    height: auto;
    padding: calc(5vh + 5vw) 0px;
}

.training-section-two-para-container{
    width: 100%;
    height: auto;
    padding: calc(3vh + 2vw) 0px;
}

.training-section-two-para{
    width: 80%;
    height: auto;
    text-align: justify;
    line-height: 35px;
    font-size: clamp(1.3rem, 2vw, 1.3rem)
}


/**/

.text-italic {
    font-family: "BeautiqueDisplay-Italic";
    font-weight: 500;
}

/**/

.training-course-three-container{
    width: 80%;
    height: auto;
    padding: calc(2vh + 2vw) 0px;
}

.training-section-three-sub-one{
    width: 50%;
    height: calc(22vh + 30vw);
}

.training-section-three-sub-two{
    width: 50%;
    height: auto;
    padding: calc(2vh + 2vw) 0px;
}

.training-image-two{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
  
.training-section-three-para{
    width: 90%;
    height: auto;
}

.training-section-three-para > h3{
    font-family: BeautiqueDisplay;
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 300;
    line-height: 50px;
    margin-top: calc(0.5vh + 0.5vw);
}

.training-section-three-para > p{
    text-align: justify;
    line-height: 35px;
    font-size: clamp(1.3rem, 2vw, 1.3rem)
}

/**/

.training-course-four-container{
    width: 80%;
    height: auto;
    padding: calc(2vh + 2vw) 0px;
}

.training-section-four-wrapper-container{
    width: auto;
    height: auto;
    border-radius: 25px;
    padding: 15px 20px;
    background-color: black;
    color: rgba(238, 230, 211, 0.822);;
}

.training-section-four-buttons{
    width: 500px;
    height: auto;
    padding: calc(1vh + 1vw) 0px;
    margin: calc(5vh + 1vw) 0px;
}

.classes-btn{
    width: auto;
    height: auto;
    padding: calc(0.5vh + 0.5vw) calc(1vh + 1vw);
    border-radius: 30px;
    border: 1px solid transparent;
    cursor: pointer;
}

.level-black{
    border-radius: 30px;
    border: 1px solid black;
}

.levels-container{
    width: 100%;
    height: auto
}

.levels-container-div{
    width: 100%;
    height: auto;
}

.levels-container-one{
    display: none;
}

.levels-container-two{
    display: none;
}


.levels-container-three{
    display: none
}

.level-display{
    display: block;
}

.level-details-container{
    width: 100%;
    height: auto
}

.level-img-container{
    width: 50%;
    height: calc(30vh + 20vw);
}

.level-desc-container{
    width: 50%;
    height: auto;
    padding: calc(5vh + 2vw) 0px;
}

.training-image-three{
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.level-desc{
    width: 80%;
    height: auto;
    background-color: antiquewhite;
    padding: calc(1vh + 1vw);
    text-align: justify;
    line-height: 35px;
    font-size: clamp(1.3rem, 2vw, 1.3rem)
}

.level-numbering-container{
    margin: calc(2vw + 2vw) 0px;
}

.level-numbering-container > span{
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: BeautiqueDisplay;
}

.training-price-desc{
    width: 90%;
    height: inherit;
}

/**/

.training-course-five-container{
    width: 80%;
    height: auto;
    padding: calc(2vh + 5vw) 0px calc(2vh + 3vw) 0px;
}

.training-section-five-heading{
    width: 50%;
    text-align: center;
    margin-bottom: calc(3vh + 1vw);
}

.training-price-container{
    width: 100%;
    height: auto;
    margin: calc(2vh + 5vw) 0px;
}

.price-desc-three > p{
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.training-price{
    width: 30%;
    height: auto;
    border-radius: 10px;
    padding: calc(5vh + 2vw) 0px;
    background-color: rgb(37, 37, 37);
    color: antiquewhite;
}

.training-price-desc h4{
    font-family: BeautiqueDisplay;
    font-weight: bold;
}

.price-desc-one{
    width: 100%;
    height: calc(2vh + 1vw);
    text-align: center;
}

.price-desc-one > h4{
    font-size: 1.5rem;
}

.price-desc-one > p{
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.price-desc-two{
    width: 100%;
    height: calc(5vh + 3vw);
    margin: calc(3vh + 1vw) 0px;
    text-align: center;
}

hr{
    width: 80px;
    height: 1px;
    background-color: rgb(133, 120, 120);
}

.price-desc-three{
    width: 100%;
    height: calc(5vh + 3vw);
    text-align: center;
    margin: calc(2vh + 1vw) 0px;
}

.training-course-six-container .training-section-five-heading{
    width: 100%;
    padding: calc(1vh + 1vw) 0px;
}

/**/

.training-course-six-container{
    width: 80%;
    height: auto;
    margin-top: calc(4vh + 4vw);
}

.section-six-sub-one{
    width: 50%;
    height: auto;
}

.section-six-sub-two{
    width: 50%;
    height: auto;
}

.training-image-four{
    width: 100%;
    height: calc(30vh + 10vw);
    object-fit: contain;
}

.training-section-six-para{
    width: 80%;
    height: auto;
    text-align: justify;
    line-height: 35px;
    font-size: clamp(1.3rem, 2vw, 1.3rem)
}

/**/

.training-course-seven-container{
    width: 80%;
    height: auto;
    padding: calc(5vh + 5vw) 0px 0px 0px;
    text-align: center;
}

.section-seven-btn{
    width: auto;
    height: auto;
    border-radius: 30px;
    padding: calc(0.5vh + 0.5vw) calc((1vh + 1vw));
    color: rgba(238, 230, 211, 0.822);
    background-color: black;
    border: 2px solid rgb(203, 187, 153);
    margin: calc(3vh + 2vw) 0px;
}

.training-image-five{
    width: calc(40vh + 10vw);
    height: calc(30vh + 10vh);
    object-fit: cover;
}


/**/

@media screen and (max-width: 1220px){
    .training-course-five-container{
        width: 80%;
    }

    .training-price-container{
        width: 100%;
    }

    .training-price-three{
        width: 100%;
        height: auto;
        margin: calc(2vh + 1vw) 0px;
    }

    .training-price-three .price-desc-three{
        width: 70%;
    }

    .training-div{
        width: 48%;
        height: auto
    }
}

@media screen and (max-width: 900px) {
    .training-section-three-sub-one{
        width: 100%;
    }
    .training-section-three-sub-two{
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .section-one-sub-one{
        width: 100%;
        height: auto;
        font-weight: 500;
    }
    .section-one-sub-two{
        width: 100%;
        height: auto;
    }
    .training-content-index-container{
        display: none;
    }
    p{
        text-align: start;
    }
    .training-section-two-para{
        width: 100%;
    }
    .section-two-image-container{
        width: 100%;
    }
    .section-two-desc-container{
        width: 100%;
    }
    .training-image-two{
        width: 100%;
        object-fit: cover;
    }
    .training-section-three-heading{
        width: 100%;
    }
    .training-section-three-sub-one{
        height: calc(15vh + 15vw);
    }
    .training-section-three-sub-two{
        height: auto;
        padding: calc(2vw + 2vh) 0px;
    }
    .training-section-three-para{
        width: 100%;
    }
    .training-section-four-buttons{
        width: 100%;
    }
    .levels-container{
        height: auto
    }
    .level-img-container{
        width: 100%;
    }
    .level-desc-container{
        width: 100%;
    }
    .level-desc{
        width: 100%;
    }
    .training-section-five-heading{
        width: 100%;
    }
    .training-section-five-heading > p{
        text-align: center;
    }
    .training-price-container{
        width: 100%;
        flex-direction: column;
    }

    .training-price-three .price-desc-three{
        width: 100%;
    }

    .training-price-desc p{
        text-align: center;
    }

    .training-price{
        width: 100%;
        margin: calc(1vh + 2vw) 0px;
    }
    .section-six-sub-one{
        width: 100%;
    }
    .section-six-sub-two{
        width: 100%;
        height: 90%;
    }
    .training-section-six-para{
        margin: calc(5vh + 2vw) 0px;
        width: 100%;
    }
    
}