.auth-form-container h1{
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

label{
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    color: rgb(70, 70, 70);
}

input{
    padding: 5px 5px 5px 10px;
    font-size: 1.2em;
    width: 95%;
    border: 0px;
    border-bottom: 1px solid black;
}

form{
    width: 100%;
}

input:focus{
    outline: none;
    border: 0px;
    border-bottom: 1px solid black;
}

button{
    padding: 5px 5px 5px 10px;
    font-size: 1.2em;
    width: 80%;
    border: 2px solid black;
    background-color: white;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button:hover{
    color: white;
    background-color: black;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}




/********************* FONTS ********************/

.landing-auth-container{
    height: 90vh;
}

.landing-auth-container  a{
    margin: 0px;
    font-size: 0.9rem;
}

.auth-form-container{
    width: 30%;
    height: auto;
    padding: 10px 0px;
}